<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head.ejs") %>
    <title>JorrrShortener</title>
  </head>
  <body class="grid place-items-center bg-white dark:bg-gray-800">
    <section class="">
      <h1 class="text-7xl my-32 font-bold">Jorrr's link shredder</h1>

      <% if (locals.error) { %>
      <p><%= error %></p>
      <% } %>

      <form action="/" method="post" class="my-24 flex flex-wrap justify-center">
        <div>
          <label for="" class="text-2xl font-bold h-12">URL:</label>
          <input
            type="text"
            name="url"
            id="submittedURL"
            class="border-solid border-4 border-light-blue-500"
            placeholder="Fill in url"
          />
        </div>
        <input type="submit" value="submit" />
      </form>

      <div class="short-url">
        <% if (locals.short_url) { %>
        <a href="<%= short_url %>" target="_blank"><%= short_url %> </a>
        <% } %>
      </div>
    </section>
  </body>
</html>
